.poker {
  width: 100px;
  min-width: 100px;
  height: 160px;
  min-height: 160px;
  border: 1px solid #000;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #fff;
}
.pokerValue {
  font-size: 25px;
  line-height: 1;
  width: 15px;
  overflow: hidden;
}

.pokerLittleType {
  width: 15px;
  font-size: 16px;
  line-height: 1;
  padding: 5px 0px;
  overflow: hidden;
}

.pokerType {
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 1;
}

.lt {
  align-self: flex-start;
  text-align: left;
}

.rb {
  align-self: flex-end;
  text-align: right;
  transform: rotate(180deg);
}
.rb.pokerLittleType {
  margin-right: -5px;
}

.jokerType {
  flex: 1;
  height: 30px;
  line-height: 30px;
  font-size: 50px;
}

.jokerValue {
  width: 1em;
  line-height: 13px;
  font-size: 10px;
  word-break: break-all;
}

.big {
  color: red;
}

.small {
  color: #000;
}

